body{
  font-family: 'Montserrat-thin',serif;
}
#title{
  background-color: #FBCAFF;
}
h1{
  font-family: 'Montserrat',serif;
  font-size: 3.5rem;
  line-height: 1.5;
  color: black;
}
h2{
  color: black;
  font-family: 'Ubuntu', serif;
  font-weight: 400;
  font-size: 3rem;
}
.container-fluid{
  padding: 3% 15% 7%;
}
.bead{
  width:60%;
  transform: rotate(25deg);
position: absolute;
  right: 30%;
}
.navbar-brand
{
  color: white;
}

/* navbar */
.navbar{
  padding:0 0 4.5rem;
}
.nav-item{
  padding: 0 18px;

}
.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
}
.nav-link{
  font-size: 1.5rem;
    font-family: 'Montserrat-thin';
}
h3{
  font-family: 'Montserrat',serif;
  font-weight: lighter;
  font-size: 2rem;
}

/* download button */
.download-button{
  margin: 5% 3% 5% 0;
}
.features-icon{
  font-size: 6rem;
  color:#9AB3F5;
  line-height: 0;
}
.features-icon:hover{
  color: #7579E7;
}
.feature-box{
  text-align: center;
}
.content{
  font-size: 25px;
}
/* features */
#features{
  padding:7% 15%;
position: relative;
  background-color: #fff;
}
/*testimonial*/

#testimonials{
  text-align: center;
  background-color:#FBCAFF;

}
.testimonials-img{

  width:30%;
  margin: 20px;
}
#press{
  background-color: #FBCAFF;
  text-align: center;
 padding-bottom: 3%;
}
.press-img{
  width:15%;
  margin: 20px 20px 50px;
}
.carousel-item{
  padding: 7% 15%;
  background-color: #FBCAFF;
}




.first-body{
  font-family: 'Ubuntu', sans-serif;
}
#pricing{
  text-align: center;
  padding: 100px;
}










/* media */
@media(max-width: 980px) {
  #title{
    text-align: center;
  }
  .bead{
    position: static;
    margin:30px;
    transform: rotate(0);
  }
  #pricing{
    margin-top: 20px;
  }
}

/* footer part */
#cta{
  background-color:#FBCAFF ;
  text-align: center;
  color: white;
  padding: 5%;
}
.footer-title{
  font-size: 4rem;
    font-family: 'Montserrat',serif;
}
.footer-button{
  margin-top: 25px;
  margin-left: 15px;
}

/* footer */
#footer{
  background-color: #fff;
  text-align: center;
}
.first-footer{
  padding-top: 3%;
}
.footer-margin{
  margin:1%;
}
